.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.button {
  padding: 1rem 2rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f1356d;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}